<%- include('partials/header'); -%>


<div class="moreContainer">
  <div class="calendar">
    <div class="left">
      <h2>Calendar</h2>
    </div>
    <div class="right">
      <button type="button" name="button" class="largeBtn" id="calendar"><i class="far fa-calendar-alt"></i></button>
    </div>
  </div>
  <div class="stopWatch">
    <div class="left">
      <h2>Stop Watch</h2>
    </div>
    <div class="right">
      <button type="button" name="button" class="largeBtn" id="stopWatch"><i class="fas fa-stopwatch"></i></button>
    </div>
  </div>

  <div class="bodyMass">
    <div class="left">
      <h2>Body Mass</h2>
    </div>
    <div class="right">
      <button type="button" name="button" class="largeBtn" id="bodyMass"><i class="fas fa-weight"></i></button>
    </div>
  </div>

  <script>
    let bodyMass = document.getElementById('bodyMass');
    bodyMass.addEventListener('click', function () {
      window.open("/more/bodymass", "_self");
    })
  </script>

</div>

<%- include('partials/footer'); -%>
