html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header
 **************************************************/
header {
  padding: 10px;
  background: grey;
  color: white;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topRow h1 {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.menu a:hover {
  cursor: pointer;
}



/* Summary
 **************************************************/
.summaryHeader {
  text-align: center;
  padding: 5vh 0;
}

.summaryStats, .summaryDetails {
  padding: 10px;

}

.summaryStats p  {
  margin: 3vh 0;
}

.summaryDetails p {
  margin: 2vh 0;
}

.summaryDetails hr {
  margin-bottom: 2vh;
}
/* Exercise
 **************************************************/
.exerciseContainer {
  display: flex;
  justify-content: space-between;
}

.exerciseContainer a {
  color: black;
  margin: 3vh 5vw;
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  text-decoration: none;
}

.exerciseButtons {
  display: flex;
}


.editBtn, .deleteBtn {
  display: block;
  margin: 3vh 5vw;
  font-size: 1.17em;
  cursor: pointer;
}



.exerciseContainer a:first-child, .exerciseContainer .editBtn:first-child, .exerciseContainer .deleteBtn:first-child {
  margin-top: 10vh;
}


.largeBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 40px;
  color: white;
  background: grey;
}



#exerciseBtn {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
}




/* Exercise - modal
 **************************************************/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80vw;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modalHeader {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modalHeader .tittle {
  font-size: 1.25rem;
  font-weight: bold;
}

.modalHeader .closeButton {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modalBody {
  padding: 10px 15px;
}

.modalBody form {
  display: flex;
}

.modalBody input {
  font-size: 1.1rem;
}


#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

#deleteBtn {
  margin: 3vh 0;
  padding: 2px 5vw;
  font-size: 1.1rem;
}


/* Add
 **************************************************/
.smallBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 40px;
  color: white;
  background: grey;
  margin-left: 5vw;
  line-height: 30px;
  text-align: center;
}

#addLargeBtn {
  margin-right: 0;
  margin-left: auto;
  display: block;
}

.addTopRow, .addReps, .completed, .total {
  padding: 10px;
}

.completed p, .total p {
  margin: 3vh 2vw;
}

.addTopRow, .reps, .weight {
  display: flex;
  flex-direction: row;
}

.addTopRow {
  justify-content: space-between;
}

.reps, .weight {
  justify-content: center;
  margin: 1vh 0;
}

/* History
 **************************************************/

 .historyHeader {
   text-align: center;
   margin: 2vh 0;
 }

 .historyStats p {
   margin: 3vh 2vw;
 }

 /* More
  **************************************************/

  .left, .right {
    width: 40vw;
  }

  .calendar, .stopWatch, .bodyWeight {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5vh 0;
  }

  .left {
    position: relative;
  }

  .left h2 {
    position: absolute;
    bottom: 0;
  }

  /* Edit
   **************************************************/
.containerEdit {
  text-align: center;
}

.containerEdit h2, .containerEdit form  {
  margin: 3vh 2vw;
}

.containerEdit input, .containerEdit button {
  font-size: 1.1rem;
}

.containerEdit button {
  padding: 2px 7px;
}
